body {
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 231, 204);
    font-family: 'Poor Story', cursive;
}
div {
    border: solid limegreen;
    width: 100px;
    height: 100px;
}

.hud {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.age {
    display: flex;
    justify-content: space-between;
}

.vitals {
    display: flex;
    flex-direction: column;
}

.game-screen {
    width: 80%;
    height: 950px;
    display: flex;
    margin: 0 auto;
}

#character-icon {
    width: 300px;
    height: 300px;
    border-radius: 80px;

}

.buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.achievement {
    display: flex;
    flex-direction: column;
}

.options {
    display: flex;
    align-self: flex-end;
    gap: 20px;
    margin-right: 40px;
}
