body {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: rgb(110, 48, 48);
    font-family: 'Rubik Bubbles', cursive;
    color:rgb(247, 239, 228);
    text-shadow:
    0 0 7px rgb(17, 17, 17);
    0 0 7px rgb(249, 129, 129);
    0 0 7px rgb(118, 141, 245);
    0 0 7px rgb(249, 129, 129);
    0 0 17px rgb(17, 17, 17);
    0 0 100px rgb(17, 17, 17);
}

.pixel-art {
    height: 20px;
    display: flex;
    flex-direction: column;
    margin: 15px 0px 0px 20px;
}

#boxer{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    transform: rotate(-33.3deg)
}

#bulldog{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transform: rotate(-35deg);
    margin: 15px 0px 20px 0px;
}


#fox-terrier{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    transform: rotate(33.3deg);
    margin: 0px 0px 20px 0px;
}

.entire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 100%;
    text-align: center;
    flex-grow: 2;
    margin: auto;
}
.header {
    font-weight: 800px;
    font-size: 45px;
    word-spacing: 5px;
    height: 33.3%;
    width: 100%;
    position: fixed;
        padding: 10px 10px 0px 10px;
        top: 0;
        width: 100%;
        height: 35px;
        margin: auto;
}

h6 {
    margin-bottom: 300px;
}
.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33.3%;
    width: 100%;
}
#begin {
    width: 600px;
    height: 600px;
    font-family: 'Poor Story', cursive;
    font-size: 100px;
    font-weight: 800px;
    color:rgb(196, 249, 231);
    background-color: goldenrod;
    border: 5px solid rgb(169, 69, 169);
    border-radius: 700px;
    margin: 300px 100px 100px 100px;
}

.footer {
    font-family: 'Monoton', cursive;
    font-size: 40px;
    word-spacing: 10px;
    color:rgb(196, 249, 231);
    position: fixed;
        padding: 10px 10px 10px 10px;
        bottom: 0;
        width: 100%;
        height: 100px;
    margin-bottom: 0px;
}

.credit {
    position: fixed;
        padding: 0px 15px 10px 0px;
        bottom: 0;
        width: 100%;
        height: 45px;
        margin-top: 0px;
}

